* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e4f52;
  color: white;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

.title {
  text-align: center;
  padding: 2rem;
}

.add-form {
  padding: 2rem;
  margin: 0 auto;
  width: 400px;
  display: flex;
}

::placeholder {
  color: white;
  font-size: 1rem;
}

input {
  font-size: 1.5rem;
  border: none;
}

#activity {
  padding: 0.75rem;
  margin-right: 1rem;
  width: 300px;
  background-color: #4ecdc4;
  color: white;
}

.btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.icon {
  font-size: 2rem;
  color: white;
}

.icon-small {
  font-size: 1.5rem;
  color: #2b2d42;
}

.todo-item {
  display: flex;
  background-color: #4ecdc4;
  padding: 1rem;
  width: 300px;
  margin: 0.5rem auto;
}

.todo-lists {
  display: flex;
  flex-direction: column;
}

.todo-list {
  width: 90%;
  margin: auto;
}
